/* Overrides styles from RTChat */


/* HACK: Fix issues with mobile OpenTips */
@media (max-width: 600px) {

	.opentip-container {
		max-width: 30%;
		text-align: center;
	}

}

.main-panel {
	color: #5A738E;
	background-color: #F7F7F7 !important;

	.btn:not(.btn-primary){ color: inherit; }
}

.bold { font-weight: bold !important; }

/* Override Bootstrap */
.btn-default.disabled {
	color: grey !important;
}
