
$box-padding: 25px;

#RoomPanel {
	.waiting-box {
		padding: 0 $box-padding;
		padding-bottom: $box-padding;
		text-align: center;

		> * {
			margin-top: $box-padding;
		}

		.waiting-msg {
			font-size: 25px;
		}

		.waiting-msg, #HelpPanel {
			background-color: white;
			padding: 25px 25px;
			border-radius: 15px;
		}

		ol {
			text-align: initial;
			padding-left: 15px;

			li {
				margin-top: 9px;

				.btn {
					font-size: 16px;
					padding: 20px;
				}
			}
		}

		.fa {
			cursor: pointer;
		}

		a {
			color: blue;
		}

		#HelpPanel {
			h3 { margin-bottom: 10px; }
			.btn:not(.inline) { display: block; }

		}

	}
}
