
#Sidebar {
	font-size: 18;

	&.open {flex-basis: 280px;}

	> * {
		margin: 5px 5px 0;

		&.dropdown { position: static; } /* Bootstrap Override */

		> a { color: blue; }

		/* List Items */
		&, > div, > ul > li {
			margin-top: 5px;

			> .fa {
				width: 20px;
				margin: 0 2px;
				line-height: inherit;
				text-align: center;
				color: black;
			}
		}

		/* Clickable */
		&:not(.dropdown), > ul > li, .fa {
			cursor: pointer;

			&:hover {
				color: lightgrey;
			}
		}

	}

	#ContextMenu {
		margin: 0; /* Override RTChat */

		> li {
			padding: 0; /* Override Bootstrap */
		}
	}

	li.selected {
		color: yellow;
	}
}

