
#Sidebar {
	font-size: 18;

	&.open {flex-basis: 260px;}

	> * {
		margin: 0 5px;
	}

	> .dropdown {
		position: static; /* Bootstrap Override */

		> div {

			> .fa {
				width: 20px;
				margin: 0 2px;
				line-height: inherit;
				text-align: center;
			}
		}

		/*> ul {}*/
	}

	#ContextMenu {
		margin: 0; /* Override RTChat */

		> li {
			padding: 0; /* Override Bootstrap */
		}
	}

	li.selected {
		color: yellow;
	}
}